@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import '@carbon/styles/scss/colors';
.sectionHeader {
    margin: 0;
    padding: 0;
    background-color: #013f3f;
    .sectionHeaderContent {
        color: $white-0;
        display: block;
        height: 10rem;
        margin: 0;
        padding: 1rem 6rem;
    }
    .divSpan {
        color: $white-0;
        display: flex;
        margin-bottom: 1rem;
        padding: 1.5rem 1rem;
        line-height: 1.3;
        font-size: 1rem;
        justify-content: center;
        text-align: center;
    }
}

.sectionHeaderContent>img {
    padding: 0 5rem;
}

.sectionHeaderContent>div {
    padding-left: 1rem;
    margin-top: 0.125rem;
    font-size: 1.25rem;
}

.sectionHeaderContent>p {
    padding-left: 3rem;
    margin-top: 0.125rem;
    font-size: 1.125rem;
}

.title {
    font-weight: bold!important;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.section {
    margin-top: 0.5rem;
    background-color: $ui-01;
    .divVL {
        @include type.type-style('body-compact-01');
        padding: 1rem 0;
        text-align: justify;
        line-height: 1.5;
        .result {
            font-weight: bold;
            display: inline;
        }
    }
}

.actionButton {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    .icon {
        margin: 0 0.5rem;
        svg {
            margin-block-start: 0.0625rem;
            position: absolute;
        }
    }
    .buttonSpan {
        margin-left: 1rem;
        font-size: 1rem;
    }
}

.elementContainer {
    display: flex;
    align-items: center;
    position: relative;
    .countTag {
        position: absolute;
        transform: scale(0.7);
        min-width: initial;
        min-height: initial;
        background-color: $carbon--red-50;
        color: $ui-02;
        right: -10px;
        top: -15px;
    }
}

.title {
    font-weight: bold!important;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $ui-05;
    max-width: none;
    &:hover {
        color: $text-02;
    }
    &>span {
        margin-top: spacing.$spacing-02;
        @include type.type-style("body-compact-01");
        color: $text-02;
    }
}

.patientModal {
    overflow-y: auto;
}


/* Desktop */

:global(.omrs-breakpoint-gt-tablet) {
    .active {
        border: spacing.$spacing-01 solid;
        @include brand-03(border-color);
        border-radius: 50%;
        background-color: $ui-02;
        &:focus {
            border-color: var(--brand-03) !important;
        }
    }
    .elementContainer {
        color: $text-02;
    }
}


/* Tablet */

:global(.omrs-breakpoint-lt-desktop) {
    .active {
        background-color: $color-blue-10;
        color: $interactive-01;
        &:hover {
            color: $interactive-01;
        }
        &>span {
            color: $interactive-01;
            @include type.type-style("heading-compact-01");
        }
        svg {
            fill: $interactive-01;
        }
    }
}